<template>
  <div>
    <h2>Last Articles</h2>
    <ul>
      <li v-for="post in recentFiles" style="list-style-type: none">
        <a :href="post.path">{{post.title}} | {{post.frontmatter.date}} | <b>{{post.frontmatter.classification}}</b></a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
	data() {
		return {};
	}, 
	computed:{
		recentFiles() {
			let files = this.$site.pages.filter(p => {
				return p.path.indexOf('/articles/') >= 0;
			}).sort((a,b) => {
				let aDate = new Date(a.frontmatter.published).getTime();
				let bDate = new Date(b.frontmatter.published).getTime();
				let diff = aDate - bDate;
				if(diff < 0) return -1;
				if(diff > 0) return 1;
				return 0;
			}).reverse().slice(0,10);

			return files;
		}
	}
}
</script>